.root {
  display: grid;
  grid-template-areas:
    "config config"
    "eddsa ecdsa";
  gap: 0.5rem;
}

.config {
  grid-area: config;
}

.eddsa {
  grid-area: eddsa;
}

.ecdsa {
  grid-area: ecdsa;
}
