:root {
  font-family: system-ui, sans-serif;
  color-scheme: dark;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(33, 42, 59);
}

#graphiql {
  height: 100dvh;
}

.graphiql-container {
  height: calc(100% - 42px);
}
