:root {
  font-family: system-ui, sans-serif;
  color-scheme: dark;
  --border-radius: 2px;
  --border: 1px solid #858585;
}

body {
  background-color: #3C3C3C;
}

fieldset {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(133, 133, 133);
  border-radius: var(--border-radius);
  margin-block-start: 0.5rem;
}

table {
  border: var(--border);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius);
  min-width: 100%;
}

table thead :is(td, th):first-child {
  border-top-left-radius: var(--border-radius);
}
table thead :is(td, th):last-child {
  border-top-right-radius: var(--border-radius);
}
table tbody tr:last-child :is(td, th):first-child {
  border-bottom-left-radius: var(--border-radius);
}
table tbody tr:last-child :is(td, th):last-child {
  border-bottom-right-radius: var(--border-radius);
}

:is(td, th):not(:first-child) {
  border-left: var(--border);
}
tr:not(:last-child) :is(td, th) {
  border-bottom: var(--border);
}
thead tr:last-child :is(td, th) {
  border-bottom: var(--border);
}

:is(td, th) {
  padding-inline: 0.2em;
}
