@import url("./variables.css");

.modal-button {
  background-color: var(--primary);
  color: var(--primary-lightest);
  border: none;
  padding: var(--padding);
  margin: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: var(--box-shadow);
}

.modal-button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
}

.modal-button:active {
  background-color: var(--primary-darker);
  transform: scale(0.95);
}
