.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* Assurez-vous que .featureItem utilise flex et prend toute la hauteur */
.featureItem {
  display: flex;
  flex-direction: column;
  height: 100%;  /* Assurez-vous que cette hauteur soit adaptée à vos besoins */
}

/* Flex 1 permet au contenu de s'étendre mais pas de repousser le bouton hors de vue */
.featureContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Pousse le bouton vers le bas et garde votre marge existante */
.featureButton {
  margin-top: auto;
  margin-bottom: 10px;
}
