.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

@media screen and (min-width: 997px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* Updated styles for SVG and title alignment */
.hero__title {
  margin-left: 20px; /* Adjust as needed */
}

.hero-image {
  width: 80px; /* Fixed width for consistency */
  height: 80px; /* Fixed height to match the width */
  margin-right: 10px; /* Space between the logo and the title */
}
