/* src/components/AccountInfo/AccountInfo.css */
.account-address-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.copy-button, .share-button {
  margin-left: 10px;
  cursor: pointer;
}
