@import url("./variables.css");


.App-header {
  background-color: var(--primary);
  padding: var(--padding);
  text-align: center;
  color: var(--primary-lightest);
}

button {
  background-color: var(--primary);
  color: var(--primary-lightest);
  border: none;
  padding: var(--padding);
  margin: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
}

button:active {
  background-color: var(--primary-darker);
  transform: scale(0.95);
}

input[type="text"] {
  padding: var(--padding);
  margin: 10px;
  border: 2px solid var(--primary-dark);
  border-radius: var(--border-radius);
  font-size: 16px;
}

.account-details {
  background-color: var(--primary-light);
  padding: var(--padding);
  margin: 10px;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

/* Modal styling */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top */
}

.modal {
  background: var(--primary-lightest);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 500px;
  width: 100%;
  z-index: 1001; /* Ensure the modal content is on top */
}

.modal-content {
  text-align: center;
}
