@import url("./variables.css");

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 10 900;
    font-style: normal;
}

body {
    font-family: 'Outfit', sans-serif;
}