.modal-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-button:hover {
  background-color: var(--primary-dark);
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.modal-button:active {
  background-color: var(--primary-darker);
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
