/* Import the Outfit font */
:root {
  --primary-darkest: #28354d;
  --primary-darker: #1d5678;
  --primary-dark: #146da0;
  --primary: #6295b9;
  --primary-light: #a6afb5;
  --primary-lighter: #c5d8e0;
  --primary-lightest: #eaf2f2;

  --error-color: #d9534f;

  --primary-hover-color: var(--primary-darker);
  --background-color: var(--primary-darkest);
  --container-background-color: var(--primary-lightest);

  --text-color: #333333;
  --border-color: var(--primary-light);
  --font-family: 'Outfit', sans-serif;
  --border-radius: 10px;
  --padding: 12px 24px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  --container-min-width: 500px;

}
