/* Import the Outfit font */
:root {
  --primary: #a2d4f2;
  --primary-dark: #7fc4ed;
  --primary-darker: #6dbbeb;
  --primary-darkest: #38a3e3;
  --primary-light: #c5e4f7;
  --primary-lighter: #d7edf9;
  --primary-lightest: #ffffff;

  --error-color: #ff7f50;


  --primary-hover-color: var(--primary-darker);
  --background-color: var(--primary-darkest);
  --container-background-color: var(--primary-lightest);

  --text-color: #000000;
  --border-color: var(--error-color);
  --font-family: "Outfit", sans-serif;
  --border-radius: 10px;
  --padding: 12px 24px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
