.root {
  position: relative;
  display: flex;
}

.textarea {
  flex-grow: 1;
  resize: none;
}

.copyButton {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity ease-in-out .1s;
}

.root:hover .copyButton {
  opacity: 1;
}
