@import url("../variables.css");

body {
  font-family: var(--font-family);
  background: var(--container-background-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wallet-dashboard {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--container-background-color);
}

.header,
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section {
  align-items: center;
}

.section button,
.section select {
  margin: 10px 0;
  padding: var(--padding);
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}

.section button:hover,
.section select:hover {
  background-color: var(--primary-hover-color);
}

.header {
  flex-direction: row;
  justify-content: space-between;
}

.header span {
  font-size: 1.2em;
}

.section div {
  margin: 5px 0;
}

.section .crypto {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section .crypto button {
  margin-left: 10px;
}

.section .balance,
.section .address,
.section .account {
  font-weight: bold;
}

/* Specific styling for the Transaction History button */
.wallet-dashboard > button {
  align-self: center;
  margin: 20px 0;
  padding: var(--padding);
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}

.wallet-dashboard > button:hover {
  background-color: var(--primary-hover-color);
}

/* Loading and Error Styles */
.loading,
.error {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: var(--text-color);
  padding: var(--padding);
}

.loading .fa-spinner {
  margin-left: 10px;
}

/* Ajout du style pour l'erreur */
.error {
  color: var(--error-color);
  white-space: pre-wrap; /* Pour permettre l'affichage sur plusieurs lignes */
  background-color: #ffe6e6; /* Fond rouge clair pour améliorer la lisibilité */
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid var(--error-color);
}

/* Ajout de styles pour le hint de copie */
.copy-hint {
  position: fixed; /* Utilisez fixed pour le positionnement par rapport à la fenêtre */
  background-color: var(--hint-background-color); /* Ajoutez cette variable dans variables.css */
  color: var(--hint-text-color); /* Ajoutez cette variable dans variables.css */
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  opacity: 0.9;
  z-index: 1000;
  transition: opacity 0.3s ease;
}
